.fas {
    font-size: 15px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-custom{
  border:  1px solid #047a43 !important;
  color: rgb(26, 24, 24);
  height: 700px;
  overflow: auto;
}

.button {
    overflow: auto;
}