.sameHeight {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: stretch;
}


.fas {
    font-size: 15px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-custom{
  border:  1px solid #047a43 !important;
  color: rgb(26, 24, 24);
  height: 700px;
  overflow: auto;
}

.button {
    overflow: auto;
}

.mt-bottom {
    margin-bottom: 10px;
    
}

.sub_title {
    margin: 25px 0 20px 0;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.card-courses {
    width: -moz-fit-content;
    width: fit-content;
    color: white;
}

.card-courses-content {
    justify-content: center;
}

.card-image {
   border-radius: 400%;
   max-width: 50%;
   margin: 20px 120px 15px 95px;
}

.valign-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}